.rect-default {

    position: relative;
    background-color: #F68686;
    flex-direction: column;
    display: flex;
    box-shadow: 2px 2px 27px 7px rgba(0, 0, 0, 0.85);
}


.container {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.main-div {
    display: flex;
    margin-top: 5%;
    column-gap: 10%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}

.songs-info {
    display: flex;
    flex-direction: row;
    margin-top: 10px
}

.container {
    margin-top: 3%
}


.content-rect {
    margin-left: 20px;
    margin-top: 10px;
}

.spotify-logo {
    width: 60px;
    bottom: 0;
    margin-bottom: 15px;
}

.footer-card {
    position: absolute;
    bottom: 0;
}

@font-face {
    font-family: CircularStd;
    font-weight: bold;
    src: url('../Fonts/CircularStd-Bold.otf');


}

@font-face {
    font-family: CircularStd;
    font-weight: normal;
    src: url('../Fonts/CircularStd-Book.otf');
}

h2 {
    font-family: CircularStd;
    font-weight: bold !important;
}

h3 {
    font-family: CircularStd;
    font-weight: normal;

}